<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facespace</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
      <a href="/" class='site-title'>
        <h1>Facespace</h1>
      </a>
      <a class="site-login" href="/signin">
        <h2>Sign in</h2>
      </a>
  </header>