.homepage {
  margin: 0 auto;
  max-width: var(--max-content-width);
  padding: 0 var(--page-horizontal-padding);
}
.homepage__all {
  display: flex;
  flex-wrap: wrap;
}
.homepage__all--user {
  margin: 0 5px;
}

.homepage__all--user img {
  width: 120px;
  border: 1px solid var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.homepage__all--user img:hover {
  border: 3px solid var(--primary-color);
}

.ribbon {
  position: relative;
  color: black;
  display: inline-block;
  overflow: hidden;
}

.ribbon p {
  position: absolute;
  display: inline-block;
  left: 35px;
  text-align: center;
  top: 12px;
  color: #fff;
  font-family: "Teko", sans-serif;
  background: var(--primary-color);
  /* opacity: 0.75; */
  width: 100%;
  transform: rotate(45deg);
}
